/* Estilos para el encabezado */
header {
    background-color: #c29696;
    color: #d64682;
    padding: 20px;
  }
  
  header h1 {
    margin: 10;
  }
  
  nav ul {
    list-style-type: none;
    padding: 60;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
